extend adminLayout
block content
    br
    br
    h1.centered Requested Quotes
    -function prettyDate(dateString) {
    -var date = new Date(dateString);
    -var d = date.getDate();
    -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    -var m = monthNames[date.getMonth()];
    -var y = date.getFullYear();
    -return d+' '+m+' '+y;
    -}
    hr
    br
    ul
            table.table.table-condensed.table-bordered#quoteRequestTable
                thead
                    tr
                        th Date
                        th Full Name
                        th Company Name
                        th Amount Needed
                        th Years In Business
                        th Phone Number
                        th Email Address

                tbody
                    each quote in quotes
                        tr
                            td #{prettyDate(quote.date)}
                            td #{quote.fullName}
                            td #{quote.companyName}
                            td #{quote.amountNeeded}
                            td #{quote.yearsInBusiness}
                            td #{quote.phoneNumber}
                            td #{quote.emailAddress}

